* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.messages {
    position: fixed;
    top: 0;
    left: auto;
    background: transparent;
    color: white;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    z-index: 1000; /* Adjust the z-index to make sure it appears above other elements if needed */
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../assets/background/main_background.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 600px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}