{% extends "base.html" %}
{% load static %}
{% block title %}Nexus - Modifier mon compte{% endblock %}
{% block wrapper %}
<h1>Modification du compte</h1>
<br/>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <label for="id_username">Username :</label><div class="input-box">
    <input type="text" name="username" value="{{ request.user.username }}" autofocus required id="id_username"></div>
    
    <label for="id_email">Email :</label><div class="input-box">
    <input type="email" name="email" value="{{ request.user.email }}" required id="id_email"></div>
    
    <label for="id_photo_de_profil">Photo de profil :</label><div class="input-box">
    <input type="file" name="photo_de_profil" style="padding-top: 11px;" accept="image/*" id="id_photo_de_profil"></div>

    <button type="submit" class="btn">Valider les modifications</button>

</form>
<div class="link"><p><a href="/users/account/">Retour</a></p></div>
{% endblock %}