{% extends "base.html" %}
{% load static %}
{% block title %}Options du salon {{ channel.name }}{% endblock %}
{% block wrapper %}
<h1>Options du salon</h1><br />

Nom du salon : {{channel.name}}

{% if channel.is_private is not True %} <!-- cant invite to private channel -->
<!-- hidden variable for js, to avoid injections caused by using template language inside script tag -->
<input type="hidden" id="var_invite_url" name="var_invite_url"
    value="{% url 'send-invite' channel_id=channel.id user_to_add=None %}">

<div class="link">

    <div class="input-box">
        <label for="invite_input">invitations</label>
        <input type="text" style="width: 300px;" id="invite_input" placeholder="username or email address">
        <button type="submit" style="width:80px;" id="invite_button" class="btn"
            onclick="gen_invite_url()">inviter</button>
    </div>

</div>
<div class="link">

    <p><a href="#">Modifier les rôles</a></p>
    <p><a href="{% url 'modify-channel' slug=channel.id %}">Modifier le salon</a></p>
</div>
{% endif %}

<div class="link">
    <p><a href="{% url 'delete-channel' slug=channel.id %}">Supprimmer le salon</a></p>
</div>
</br>
<div class="link">
    <p><a href="{% url 'show-channel' slug=channel.id %}">Retour</a></p>
</div>


<script>
    function gen_invite_url() {
        //timeout the button to avoid spam

        var invite_button = document.getElementById("invite_button");
        //disable
        invite_button.disabled = true;
        invite_button.style.opacity = '0.5';
        //re enable after timeout
        setTimeout(function () {
            invite_button.disabled = false;
            invite_button.style.opacity = 1;
        }, 500); // 1.5 seconds



        var userInput = document.getElementById('invite_input').value;
        var baseURL = document.getElementById('var_invite_url').value;

        fetch(baseURL.replace('None', userInput))
            .then(response => {

                var existingUl = document.querySelector('.messages');

                
                var ulElement = existingUl || document.createElement('div');
                ulElement.className = 'messages';

                
                var divElement = document.createElement('div');
                if (response.status === 200) {
                    divElement.className = 'alert alert-success alert-dismissible fade show';
                } else {
                    divElement.className = 'alert alert-warning alert-dismissible fade show';
                }
                divElement.setAttribute('role', 'alert');
                divElement.textContent = response.headers.get('content-type');

                
                var closeButton = document.createElement('button');
                closeButton.type = 'button';
                closeButton.className = 'btn-close';
                closeButton.setAttribute('data-bs-dismiss', 'alert');
                closeButton.setAttribute('aria-label', 'Close');

                
                divElement.appendChild(closeButton);

                
                ulElement.appendChild(divElement);

                if (!existingUl) { // si aucun message avant
                    document.body.appendChild(ulElement);
                }
            })

            .catch(error => {
                console.error('Error during the request:', error);
            });
    }
</script>
{% endblock %}