{% extends "base.html" %}
{% load static %}
{% block title %}Nexus - List Channels{% endblock %}
{% block wrapper %}
    <h1>Channels</h1>
    {% for channel in channel_list %}
        <div class="link"><p><a href="/channels/m/{{ channel.id }}">
            {{ channel.name }}
        </a></p></div>
    {% endfor %}
    </br>
    <div class="link"><p><a href="/channels/create/">Créer un nouveau channel</a></p></div>
    <br/>
    <h1>Gestion de compte</h1>
    <br/>
    <div class="link"><p><a href="/users/account/">Mon compte</a></p></div>
    <div class="link"><p><a href="/users/logout/">Deconnexion</a></p></div>
{% endblock %}