{% extends "base.html" %}
{% load static %}
{% block title %}Password reset form{% endblock %}
{% block wrapper %}

<form method="post" action="">
    {% csrf_token %}
    <h1>Set your new password</h1>

    {{ form.non_field_errors }}
    {% for field in form %}
    <br>
    {% if field.errors %}<div class="field_error" style="font-weight: bold;">{{ field.errors|striptags }}</div>{% endif %}
    {% if field.help_text %}
        <p class="help_text">{{ field.help_text|safe }}</p>
    {% endif %}
    {% endfor %}
    <div class="input-box">
        <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder="New Password">
        <i class="bx bxs-lock-alt"></i>
    </div>

    <div class="input-box">
        <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="New password confirmation">
        <i class="bx bxs-lock-alt"></i>
    </div>

    

    <button type="submit" class="btn">Reset Password</button>
</form>

<script src="{% static  '/js/remove_labels.js'%}"></script>
{% endblock %}