{% extends "base.html" %}
{% load static %}
{% block title %}Password reset sent{% endblock %}
{% block wrapper %}

<h1>Password Reset Notification</h1>
<br>
<h3 style="text-align: center;">We have sent you an email with instructions on how to reset your password. If there is an account associated with the email you provided, you should receive the instructions shortly.</h3>
<br>
<h4 style="text-align: center;">If you do not receive the email, please double-check that you entered the correct email address during registration and also review your spam folder.</h4>
<div class="register-link">
  <p>
    <a href="{% url 'nexus-hello-view' %}">Return to the home page</a>
  </p>
</div>

{% endblock%}