{% extends "base.html" %}
{% load static %}
{% block title %}Password Reset{% endblock %}
{% block wrapper %}

<h1>Reset your password</h1>


<br>
<h3 style="text-align: center;">Lost your password in the digital labyrinth? No stress! Give us your sign-up email, and we'll zap over a link to magically revive your access. </h3>
<br>

<form action="" method="POST">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for field in form %}
  {% if field.errors %}<div class="field_error" style="font-weight: bold;">{{ field.errors|striptags }}</div>{% endif %}

  <div class="input-box">
    {{ field.label_tag }} {{ field }}
    <i class='bx bxs-user'></i>
    </div>
  {% endfor %}
  <input type="submit" class="btn" value="Send email" /><br>
</form>
<div class="register-link">
  <p>
    <a href="{% url 'nexus-hello-view' %}">Return to home page</a>
  </p>
</div>
<script src="{% static  '/js/remove_labels.js'%}"></script>
{% endblock%}