{% extends "base.html" %}
{% load static %}
{% block title %}Send invite for {{ channel.name }}{% endblock %}
{% block wrapper %}
<h1>Envoyer une invitation</h1><br/>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <label for="id_username">Username :</label><div class="input-box">
    <input type="text" name="username" autofocus required id="id_username"></div>

    <button type="submit" class="btn">Envoyer l'invitation</button>

</form>

<br/><div class="link"><p><a href="{% url 'options-channel' slug=channel.id %}">Retour</a></p></div>
{% endblock %}
