{% extends "base.html" %}
{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static  '/styles/style_login.css'%}">
{% endblock %}
{% block title %}Nexus Sign up{% endblock %}
{% block wrapper %}
<form method="post" action="{% url 'signup-view' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>Sign up</h1>

    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="input-box">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}
    
    <button type="submit" class="btn">Sign up</button>
    <div class="register-link">
        <p>Already a member ? <a href="{% url 'login-view' %}">Login</a></p>
    </div>
</form>
{% endblock %}