{% extends "base.html" %}
{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static  '/styles/style_login.css'%}">
{% endblock %}
{% block title %}Nexus Sign up{% endblock %}
{% block content %}
<form method="post" action="{% url 'signup-view' %}">
    {% csrf_token %}
    <h1>Sign up</h1>

    {{ form.non_field_errors }}
    <div class="input-box">
        {{ form.username.errors }}
        <label hidden for="{{ form.username.id_for_label }}"></label>
        <input type="text" name="{{ form.username.id_for_label }}" placeholder="Username" required>
        <i class='bx bxs-user'></i>
    </div>

    <div class="input-box">
        {{ form.password.errors }}
        <label hidden for="{{ form.password.id_for_label }}"></label>
        <input type="password" name="{{ form.password.id_for_label }}" placeholder="Password" required>
        <i class='bx bxs-lock-alt'></i>
    </div>

    <div class="input-box">
        {{ form.email.errors }}
        <label hidden for="{{ form.email.id_for_label }}"></label>
        <input type="text" name="{{ form.email.id_for_label }}" placeholder="e-mail uha" required>
        <i class='bx bxs-envelope'></i>
    </div>
    <button type="submit" class="btn">Sign up</button>
    <div class="register-link">
        <p>Already a member ? <a href="login.html">Login</a></p>
    </div>
</form>
{% endblock %}